[Unit]
Description=Update dotfiles
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/with_path_extras chezmoi update --force
