[Unit]
Description=Cache and Downloads cleanup

[Service]
Type=oneshot
ExecStart=rm -rf %h/.cache/rclone %h/Downloads
ExecStopPost=mkdir %h/Downloads

[Install]
WantedBy=default.target
