[Unit]
Description=kanata keyboard remapper

[Service]
Type=notify
SyslogIdentifier=kanata
ExecStart=/usr/bin/env kanata

[Install]
WantedBy=default.target
