[Unit]
Description=Back up save games
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/with_path_extras %h/.local/scripts/steamdeck/backup_savegames.fish
