# k8s completions
.config/fish/completions/kubectl.fish:
  type: file
  url: https://raw.githubusercontent.com/evanlucas/fish-kubectl-completions/ced676392575d618d8b80b3895cdc3159be3f628/completions/kubectl.fish
  checksum:
    sha256: 196a5073d1dbe29aab0b2b39b6b654451d3b40a9c6ebe27b5e5e3b12d49cb771
.config/fish/completions/kubectx.fish:
  type: file
  url: https://raw.githubusercontent.com/ahmetb/kubectx/refs/tags/v0.9.5/completion/kubectx.fish
  checksum:
    sha256: 520f11b29a3eb57367e6b07e8ed1541abaa845d2cb6470d1206ce9d0676e7e3b
.config/fish/completions/kubens.fish:
  type: file
  url: https://raw.githubusercontent.com/ahmetb/kubectx/refs/tags/v0.9.5/completion/kubens.fish
  checksum:
    sha256: 6aa615a5f0511845bab1238a85fdc75e6da90d0d5c35f44937528f131d987f79

{{ if eq .chezmoi.os "darwin" -}}
.config/fish/iterm_integration.fish:
  type: file
  url: https://iterm2.com/shell_integration/fish
  checksum:
    sha256: dbd5ef17ff0a19deb734e02a58fa313833d000c03c80dafe3081c512a70aa2fe
{{- end }}

# bass (bash to fish interpreter)
.config/fish/functions:
  type: archive
  url: https://github.com/edc/bass/archive/refs/tags/v1.0.zip
  checksum:
    sha256: ede98377793a740a74ca9022984941ed5d03ec63db91d3839729f6b13ce0b6f2
  stripComponents: 2
  include:
    - "*/functions/*"
