sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIDsHssGAlpSkygyP5TcA86lWWgrb4kEGKv93QPoCtHpFAAAABHNzaDo= YubiKey 5A NFC

ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBLTiN+it9DgJszXy3OtKBSjn37TjEC1uFzWzeSid++iHxspJFYu7/9/kp4nqGpJjuYiSffX85sHkx8iUKBf3ra8= YubiKey 5C NFC
ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBJ/L2ua0OLlNQjQq+hbKj6V3el8PaTx23WioFNEZCIdw1q4MzTFBi5WdMG7OFfCkC9VhW6pPhv1xfSRpf57Fa9Q= YubiKey 5C Nano

ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBOwFL79i77w+iCLfWBOOuIgvpgxi8YlxFd3hVX+tFiHNEqYChrNeS8C94vgsE/X4LK8K/vhms3ruGLJaljfOAbs= Maeve
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINxtxkj3+mCvGRZafKt0Ckq52m9aEeOBruvSBX9T8vRb sapphiccode@pandora
ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBM3PWYSf2Dpul7xGCC2vHNfhJfPhdRDmemjDhHCgYSoIwnOmdfT0mI9KFjsJ7ds7IWxgUAE0+YRIN6nh+uTD3/E= ShellFish

ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH68AGzViml0l9zU7l4RYhps5VLuZZ160Bt94IZ45j/U Shortcuts on iPhone
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIETwPh065+QKLUNoJJcl/7UmgYneh7AFzBglYylOc0BE Shortcuts on iPad
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHqIe0wYrmcfkQDda3lpDy87nFW8zSzJyg4zAhltbH4d Shortcuts on Maeve

{{ if eq .chezmoi.hostname "pandora-core" }}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIItfD1Cw7/CwsI8YJCQv6zB6lmHZLEm6sfQDl52TyQfj
{{ end }}
