Compression yes

# following IdentityAgents are mostly here for OrbStack VM passthrough
{{ if eq .chezmoi.hostname "Clementine" }}
IdentityAgent /Users/sapphiccode/Library/Caches/yubikey-agent.sock
{{- end }}
{{ if eq .chezmoi.hostname "Maeve" }}
IdentityAgent /Users/sapphiccode/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh
{{- end }}

{{ if eq .chezmoi.os "darwin" }}
Include ~/.orbstack/ssh/config
{{- end }}

Host blahaj
Hostname blahaj.sapphiccode.net

Host hyperhaj
Port 2222
Hostname hyperhaj.sapphicco.de

Host deck
Hostname hollydeck.loc.tc.qcx.io
User deck

Host sunhome
Hostname sunhome.atlas-ide.ts.net

Host cab
Hostname cab.atlas-ide.ts.net

Host pcore
Hostname pandora-core.atlas-ide.ts.net

Host butler
Hostname butler.atlas-ide.ts.net
User beelen

Host simone
Hostname simone.atlas-ide.ts.net

Host *
User sapphiccode
