[core]
	hooksPath = {{ .chezmoi.homeDir }}/.config/git/hooks

[user]
{{- if eq .chezmoi.hostname "maeve" }}
	name = Cassandra Beelen
	email = cassandra.beelen@rewe-digital.com
	signingkey = D41B8E488EF28C30
{{- else }}
	name = Cassandra
	email = cassandra+git@beelen.one
{{- end }}

[commit]
{{- if eq .chezmoi.hostname "maeve" }}
	gpgsign = true
{{- end }}
