[user]
    name = Cassandra
    email = keen.flag3479@phoenix.qcx.io
    {{- if eq .chezmoi.hostname "GameLap"}}
    signingkey = 4539C91B8EC44EBAE3BCA37E23555FB146D3916F
    {{- end }}

[init]
    defaultBranch = main

[commit]
    gpgsign = true

[pull]
    rebase = false

[credential]
    {{- if eq .chezmoi.hostname "GameLap" }}
    helper = store
    {{- else }}
    helper = libsecret
    {{- end }}

[includeIf "gitdir:~/dev/work/"]
    path = ~/.config/git/work/config
