[user]
    name = Cassandra
    email = {{ b64dec "NmJiMjk0MTItYmYzNy00MDAzLWE0MTUtOWYxZWRiYzA3OTM5QHNhcHBoaWNjby5kZQ==" }}
    {{- if eq .chezmoi.hostname "Maeve" }}
    signingkey = B69A68F16DDAB3AA48213748E6D2633207AEE561
    {{- end }}

[init]
    defaultBranch = main

[core]
    hooksPath = ~/.config/git/hooks
    pager = delta

[interactive]
    diffFilter = delta --color-only

[commit]
    gpgsign = true
    template = ~/.config/git/commit_template.txt

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[merge]
    conflictStyle = diff3

[rebase]
    autoStash = true

[credential]
    {{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
    {{- else if eq .chezmoi.hostname "GameLap" }}
    helper = store
    {{- else }}
    helper = libsecret
    {{- end }}

[includeIf "gitdir:~/dev/work/"]
    path = ~/.config/git/work/config
[includeIf "gitdir:/Volumes/Work/"]
    path = ~/.config/git/work/config
