[core]
    hooksPath = ~/.config/git/hooks
    pager = delta

[include]
    path = ~/.config/git/hconfig.{{ .chezmoi.hostname }}

[user]
    name = Cassandra
    email = {{ b64dec "Z2l0QHNhcHBoaWNjby5kZQ==" }}

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[commit]
    template = ~/.config/git/commit_template.txt

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[merge]
    conflictStyle = diff3

[rebase]
    autoStash = true

[credential]
{{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- end }}
{{- if eq .chezmoi.os "linux" }}
    helper = libsecret
{{- end }}
    helper = netrc

[includeIf "gitdir:~/dev/work/"]
    path = ~/.config/git/work/config
[includeIf "gitdir:/Volumes/Work/"]
    path = ~/.config/git/work/config
[includeIf "gitdir:/work/"]
    path = ~/.config/git/work/config

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

